@charset "utf-8";
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{ margin:0; padding:0; }
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{ display:block; }
table{ border-collapse:collapse; border-spacing:0; }
caption,th{ text-align:left; font-weight:normal; }
html,body,fieldset,img,iframe,abbr{ border:0;}
img{vertical-align:top;}
html{ overflow-x:hidden; }
i,cite,em,var,address,dfn{ font-style:normal; }
[hidefocus],summary{ outline:0; }
li{ list-style:none; }
h1,h2,h3,h4,h5,h6,small{ font-size:100%; }
sup,sub{ font-size:83%; }
pre,code,kbd,samp{ font-family:inherit; }
q:before,q:after{ content:none; }
textarea{ overflow:auto; resize:none; }
label,summary{ cursor:default; }
a,button{ cursor:pointer; }
h1,h2,h3,h4,h5,h6,em,strong,b{ font-weight:bold; }
del,ins,u,s,a,a:hover{ text-decoration:none; }
body,textarea,input,button,select,keygen,legend{ font:13px/1 arial,\5b8b\4f53; color:#333; outline:0; }
:focus { outline:0; }
/*备用样式表*/
.none { display:none; }
.wcb{ width:100%; height:30px; border:2px dashed #97CBE0; }
.hidden { visibility:hidden; }
.clear { width:100%; height:0; line-height:0; font-size:0; overflow:hidden; clear:both; display:block; _display:inline; }
.clearfix:after{clear: both;content: ".";display: block;height:0;visibility: hidden;}
.clearfix{ display: block; *zoom:1; }
.icon{display:inline-block;width: 32px;height: 32px;vertical-align:middle;background:url(images/icon.png) no-repeat;}
/*css3扩展*/
body:before {content: ""; position: fixed; top: -10px; left: 0; z-index: 110; width: 100%; height: 10px;
 -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
	-moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
	     box-shadow: 0px 0px 10px rgba(0,0,0,.8);
}
::-webkit-input-placeholder { color:#fff;/* WebKit browsers */}
:-moz-placeholder {color:#fff; /* Mozilla Firefox 4 to 18 */}
::-moz-placeholder { color:#fff;/* Mozilla Firefox 19+ */}
:-ms-input-placeholder { color:#fff;/* Internet Explorer 10+ */}
/**布局开始**/
body {line-height: 1;font-size: 13px;font-family: "Arial","Microsoft YaHei","\u5b8b\u4f53", Tahoma, Geneva, sans-serif;color:#333;}
p{line-height:1.75;}
a {color:#313131; text-decoration:none; transition:all 0.4s ease-in-out; }
a:hover { color:#095ab5; }
/*页面尺寸*/
.wrapper { width:100%;   }
.wrapper .inner {width: 1200px;margin:0 auto;} /**页面全局宽度**/
/*headtop*/
#headtop{background: #666;}
#headtop .inner{}
.headtop .top-left{float: left;}
.headtop .top-right{float:right;}
/*head开始*/
#header {background: #fff;}
#header .inner{height: 120px;position:relative;}
.header .sitelogo {
    float: left;

    padding-left: 0px;
}
.header .sitetitle {display:inline-block;margin-top: 16px; margin-left:10px;font-size:32px;font-weight:bold;color:#00479d;} /**站点名称**/
.header .head-left{float:left;display:inline-block;}
.header .head-main{float:left;margin-top:10px;}
.header .head-right{float:right;margin-top: 43px;width:200px;}
/*rale样式*/
.site-rale{}
.site-rale ul{}
.site-rale ul li.links{float:left;}
.site-rale ul li.links a{line-height: 35px;padding: 0 12px 0 12px;padding-left: 19px;font-size: 13px;color: #cad3d4;background:url(images/link_icon.png) no-repeat;}
.site-rale ul li.links a:hover{color:#fff;}
.site-rale ul li.links.i1 a{background-position: 0px 0px;}
.site-rale ul li.links.i2 a{background-position: -60px 0px;}
.site-rale ul li.links.i3 a{background-position: -117px 0px;}
.site-rale ul li.links.i4 a{background-position: -177px 0px;}
/*lang样式*/
.site-lang{}
.site-lang ul{float:right;}
.site-lang ul li.links{float:left;}
.site-lang ul li.links a{line-height: 35px;margin:0px 5px;font-size: 13px;color: #cad3d4;}
.site-lang ul li.links a:hover{color:#fff;}
/*默认主导航样式*/
#nav {
    height: 70px;
    background: #14529e;
}
#nav .inner{min-height: 70px;}
#nav .inner .wp-panel{}/*导航*/
#nav .inner .wp-panel .wp-window{}
#nav .inner .wp-panel .navbg{position:absolute; z-index:-1;left:0;right:0;top:0;bottom:0; width:auto; height:100%;background:#fff;opacity:.7;filter:alpha(opacity=70);}
/*导航样式：后台绑定时也可以定义配置*/
.wp-menu {margin:0 auto}
.wp-menu .menu-item {display: inline-block; float: left; position: relative;}
.wp-menu .menu-item.i1 { background:none;}
.wp-menu .menu-item a > .menu-switch-arrow{display: none; width:20px; height:20px; background:url(images/nav_j.png) no-repeat center center;vertical-align:middle; }
.wp-menu .menu-item a.menu-link {
    display: inline-block;
    padding: 5px 14px;
    line-height: 30px;
    color: #FFFFFF;
    font-size: 16px;
	text-align: center;
  
}
.wp-menu .menu-item.hover a.menu-link,
.wp-menu .menu-item a.hover{background-color:#12549b; text-decoration: none; color: #eee;}
.sub-menu {display: none;position: absolute;left: 0;top: 70px;z-index: 100;background:#fff;width: 100%;}
.sub-menu .sub-item { position: relative; white-space: nowrap; vertical-align: top; _zoom:1;}
.sub-menu .sub-item a {
    display: block;
    color: #000;
    height: 40px;
    line-height: 40px;
    padding: 0 17px;
    font-size: 14px;
    background: none;
    text-align: center;
}
.sub-menu .sub-item.hover> a,
.sub-menu .sub-item a:hover{ color: #fff; background-color:#12549b; display: block; }
.sub-menu .sub-menu { left: 100%; top:0px; z-index: 200; background:#fff;}
/**主页banner开始**/
#banner {}
#banner .inner {width:100%;max-width: 1250px;text-align: center;position:relative;}
/**主体模块样式**/
#m-container {}
#m-container .inner {}
/**首页三列布局**/
.mod {}
.mbox {}

.main1{}
.main1 .inner{padding:10px 0px 0px;position: relative;}
.main1 .ml{float:left; width:360px;padding-top:8px;}
.main1 .mc {
    /* float: left; */
    width: 100%;
    /* margin-left: 30px; */
}
.main1 .mr{float:right;width: 346px;}

.main4{}
.main4 .inner {
    /* padding: 15px 0 0; */
    padding-top: 43px;
    padding-bottom: 60px;
}
.main4 .ml{float:left; width:560px;}
.main4 .mr {
    float: right;
    /* padding-top: 25px; */
    width: 560px;
}
.main4 .mr .mlink{}
/**标题栏新闻窗口**/
.post {}
.post .tt {display:inline-block;width:100%;border-bottom: 0px solid #e6e6e6;} /**标题栏**/
.post .tt .tit {display:inline-block;float:left;font-size: 16px;font-weight:normal;} /**标题字体**/
.post .tt .tit .title {display:block;line-height: 42px;color: #424242;font-family:"Microsoft yahei";}
.post .tt .tit .name{ display:none; line-height:16px; color:#333; }/*栏目别名*/
.post .con {margin:0 auto; }
.post .con .wp_article_list .list_item { border-bottom:1px dashed #ccc; } /**新闻列表**/
.post .con .wp_article_list .list_item .Article_Index { background:url(images/li.gif) no-repeat center; }
.post .more_btn {
    display: inline-block;
    height: 30px;
  
    line-height: 30px;
    float: right;
    position: absolute;
    right: 0;
    bottom: -20px;
}
.post .more_btn .more_text, .post .more_btn a {
    font-size: 14px;
    cursor: pointer;
    line-height: 30px;
	color: #fff;
    /* position: absolute; */
}
.post .more_btn a{color:#666;} 
.post .more_btn a:hover{color:#666;} 
/*标准标题*/
.post1 {}
.post1 .tt {}
.post1 .tt .tit {}
.post1 .tt .tit .title {
    display: inline-block;
    margin-right: 20px;
    font-size: 24px;
    font-weight: normal;
    color: #313131;
    cursor: pointer;
	line-height: 30px;
}
.post1 .tt .tit .title.selected {color:#0f429b;}
.post1 .more_btn a{color:#fff;}
/*带图标标题*/
.post2 { }
.post2 .tt {}
.post2 .tt .tit {padding-left:24px; background:url('images/new1_icon.png') no-repeat left center;}
.post2 .tt .tit .title {font-size: 16px;font-weight:bold;color: #18267d;cursor:pointer;}
.post2 .con {}
/*居中标题*/
.post3 {}
.post3 .tt {width:100%; text-align: center; } 
.post3 .tt .tit {float:none;}
.post3 .tt .tit .title {font-weight:bold; color: #1B2EA3;}
.post3 .more_btn {margin-left:10px;line-height: 20px; float:none;}
/*标题切换hover*/
.post4 {}
.post4 .tt {border-bottom:1px solid #57b8ef;}
.post4 .tt .tit {border-bottom:0px;}
.post4 .tt .tit .title {display:inline-block;margin-right:20px;color: #333; border-bottom: 3px solid #0074B3; cursor:pointer;}
.post4 .tt .tit .title.selected {border-bottom:3px solid #fff; color:#000;}
.post1 .more_btn a{color:#fff;}
/**自定义新闻列表**/
.news_list { }
.news_list li.news {line-height: 30px;padding-left:0px;font-size: 14px;} /**标题图标**/
.news_list li.news span.news_title { float:left; }/*标题*/
.news_list li.news span.news_title img {vertical-align: middle;}
.news_list li.news span.news_meta {float:right;margin-left:2px;color: #9C9C9C;margin-right: 10px;}/*属性*/
.news_list li.news .news_time,
.news_list li.news .news_time span{color: #666;}/*发布时间*/
.news_list li.news .news_icon {display:inline-block;margin:0 auto; border:0px solid red;}
.news_list li.news .news_text {line-height:22px; color:#666;}/*默认简介*/
.news_list li.news .news_bg {position:absolute; left:0px;bottom:0px; right:0px; height:30px; background:#000; opacity:.7; filter:Alpha(opacity=70);}
.news_list li.news p {line-height:34px;}
/*日历新闻样式1*/
.rili{}
.rili .con{ padding:5px 0px;}
.rili .news_list {}
.rili .news_list li.news{margin-top:0px;}
.rili .news_list li.news.n1{}
.rili .news_list li.news .news_date{float: left;width: 60px;height: 28px;line-height:28px;margin-top:3px;margin-right: -70px;font-family:"Microsoft YaHei";border-radius:4px;background: #146cc1;text-align:center;vertical-align:middle;}
.rili .news_list li.news .news_date .news_year{display:inline-block;padding: 0 4px;font-size: 18px;color: #fff;}
.rili .news_list li.news .news_date .news_days{display:inline-block;height: 26px;padding: 0 6px;font-size: 14px;color: #18267d;border-radius:0px 4px 4px 0px;background: #fff;vertical-align:top;border:1px solid #146cc1;}
.rili .news_list li.news .news_wz{width:100%;} 
.rili .news_list li.news .news_wz .news_con{margin-left:70px;}
.rili .news_list li.news .news_title{line-height: 34px;margin-top: 0px;font-size: 14px;color:#000;} 
.rili .news_list li.news .news_text{line-height: 20px; margin-top:0px;font-size: 12px;color:#666;}
/*日历新闻样式2*/
.rili2{}
.rili2 .con{ padding:5px 0px;}
.rili2 .news_list {}
.rili2 .news_list li.news{margin-bottom: 20px;padding-bottom: 15px;border-bottom: 1px solid #c9c9c9;}
.rili2 .news_list li.news.n1{margin-top:10px;border-bottom:1px solid #ccc;}
.rili2 .news_list li.news .news_date{float: left;width: 70px;margin-right:-70px;background:#00707a;text-align:center;}
.rili2 .news_list li.news .news_date .news_year {
    line-height: 30px;
    font-size: 24px;
    color: #00479d;
    background-color: #fff;
    transition: all 0.4s ease-in-out;
    font-weight: bold;
	padding: 3px 0px;
}
.rili2 .news_list li.news .news_date .news_days {
    line-height: 30px;
    font-size: 14px;
    color: #fff;
    background: #ed9f4d!important;
	padding: 3px 0px;
}
.rili2 .news_list li.news .news_wz {
    width: 466px;
    float: right;
}
.rili2 .news_list li.news .news_wz .news_con{padding: 4px 0px;} 
.rili2 .news_list li.news .news_title {
    line-height: 30px;
   
    font-size: 16px;
    color: #00479d;
	margin-bottom: 5px;
}
.rili2 .news_list li.news .news_title a{
  
    color: #00479d;
}
.rili2 .news_list li.news:hover .news_date .news_year {
    background-color: #0945a8;
    transition: all 0.4s ease-in-out;
    color: #fff;
}
.rili2 .news_list li.news:hover .news_date .news_days {
    background-color: #fff;
    color: #0945a8;
}
/*标题文*/
.news_text{}
.news_text .news_list {}
.news_text .news_list li.news{margin-bottom:10px;} 
.news_text .news_list li.news .news_title{line-height: 24px; font-size: 15px;} 
.news_text .news_list li.news .news_text{line-height:22px;font-size: 13px;}
.news_text .news_list li.news .news_time{line-height: 28px;font-size: 13px;}
/*图列表*/
.news_tu{}
.news_tu .con{padding: 12px 0px;}
.news_tu .news_list { margin:0px -10px;}
.news_tu .news_list li.news{float:left;width:25%;}
.news_tu .news_list li.news .news_box{margin:0px 10px; transition:all 0.4s ease-in-out;}
.news_tu .news_list li.news .news_box:hover{opacity:.85; filter:Alpha(opacity=85);}
.news_tu .news_list li.news .news_imgs{height: 180px;background-color: #F1F1F1;overflow:hidden;vertical-align:middle;display:table-cell;}
.news_tu .news_list li.news .news_imgs img{width:100%;height:auto;max-height:100%;}
.news_tu .news_list li.news .news_wz{}
.news_tu .news_list li.news .news_wz .news_con{} 
.news_tu .news_list li.news .news_title{line-height: 45px;height:45px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;font-size: 14px;} 
.news_tu .news_list li.news .news_title a{}
/*图文*/
.tu_text{}
.tu_text .news_list {}
.tu_text .news_list li.news{margin-bottom:10px;}
.tu_text .news_list li.news .news_imgs{width: 340px; }
.tu_text .news_list li.news .news_imgs a{height: 120px; display:table-cell; vertical-align:middle; background-color:#efefef;}
.tu_text .news_list li.news .news_imgs img{width:340px; height:240px; }
.tu_text .news_list li.news .news_wz{} 
.tu_text .news_list li.news .news_wz .news_con{padding: 0px 0px; position:relative;} 
.tu_text .news_list li.news .news_title{line-height: 22px; font-size: 16px;padding: 8px 18px;
    background: #f4f4f4;} 
.tu_text .news_list li.news .news_text{line-height:22px; font-size:12px;}
.tu_text .news_list li.news .news_time{line-height: 26px; font-size:12px;}
/*文字图标链接*/
.link_text {margin-bottom:0px;}
.link_text .news_list{margin:0 -5px;}
.link_text .news_list li.news{float:left;width:20%;text-align:center;}
.link_text .news_list li.news .news_box{}
.link_text .news_list li.news .link_icon{display:inline-block;width:100%;background-color:#1b2ea3;}
.link_text .news_list li.news .link_icon:hover{background-color:#666;}
.link_text .news_list li.news .link_con{display:block;line-height:30px;color:#fff;}
/*图标链接*/
.link_icon {margin-bottom:0px;}
.link_icon .news_list{margin:0 -10px;}
.link_icon .news_list li.news{float:left;width:auto;text-align:center;border:none;}
.link_icon .news_list li.news .news_box{background:url(images/tiao1.jpg) no-repeat right center;}
.link_icon .news_list li.news.i6 .news_box{background:none;}
.link_icon .news_list li.news .link_icon{display:inline-block;width:100%;background-color:#1b2ea3; opacity:1; filter:Alpha(opacity=100);}
.link_icon .news_list li.news .link_icon:hover{background-color:#1b2ea3; opacity:.8; filter:Alpha(opacity=80);}
.link_icon .news_list li.news .link_icon .icon{width: 35px;height: 34px;margin: 10px 0px;border:0px solid red;}
.link_icon .news_list li.news.i1 .link_icon .icon{background-position: 0px 0px;}
.link_icon .news_list li.news.i2 .link_icon .icon{background-position: -86px 0px;}
.link_icon .news_list li.news.i3 .link_icon .icon{background-position: -169px 0px;}
.link_icon .news_list li.news.i4 .link_icon .icon{background-position: -258px 0px;}
.link_icon .news_list li.news.i5 .link_icon .icon{background-position: -335px 0px;}
.link_icon .news_list li.news.i6 .link_icon .icon{background-position: -421px 0px;}
.link_icon .news_list li.news.i7 .link_icon .icon{background-position: -86px 0px;}
.link_icon .news_list li.news.i8 .link_icon .icon{background-position: -86px 0px;}
.link_icon .news_list li.news .link_con {
    display: block;
    line-height: 24px;
    color: #313131;
    padding: 0 26px;
    font-size: 14px;
}
.link_icon .news_list li.news.i6 .link_con {
   padding-right:10px;
}
.post-33{}
.post-33 .con{}
.post-33 .news_list{}
.post-33 .news_list li.news{padding-left:18px; background:url('images/news_biao.png') no-repeat 3px center;}

.post-41{}
.post-41 .con{}
.post-41 .tt .tit .title {
    line-height: 24px;
}
.main5 .inner {
    padding: 12px 0px;
}
/***********************************************************
 * 列表页
 */
/**首页三列布局**/
/**列表页**/
/*栏目图片*/
.l-banner{height: 235px;background-position:center center;background-repeat:no-repeat;text-align:center;}
.l-banner img{display:none;height:100%;vertical-align:top;}
/**主体列表页开始**/
#l-container {}
#l-container .inner {padding:25px 10px;}
/**主体文章页开始**/
#d-container {}
#d-container .inner {padding:20px 60px;background:#fff;}

.col_menu {width: 240px;float:left;margin-right:-240px;position:relative;} 
.col_menu .l-qh{ margin-bottom:10px;}
.col_menu .col_menu_head {background: #497bb6;}/**位置栏目背景**/
.col_menu .col_menu_head h3.col_name { font-size:20px; font-weight:normal; color:#fff; }/**位置栏目字体**/
.col_menu .col_menu_head h3.col_name .col_name_text { display:block; line-height:50px; padding:0px 5px 0px 30px;}/**栏目名称图标**/
.col_menu .col_menu_con{border:1px solid #e4e4e4;}
/*栏目列表*/
.col_list{}
.col_list .wp_listcolumn { border-top:0px solid #2867A0; border-bottom:0px solid #fff; }
.col_list .wp_listcolumn .wp_column a {color:#333;font-size: 15px;font-weight:normal;background:none;border-top:0px solid #fff;border-bottom: 1px solid #F6EAEA;}
.col_list .wp_listcolumn .wp_column a .column-name{padding:5px 0px 5px 28px;line-height:32px;}
.col_list .wp_listcolumn .wp_column a:hover,
.col_list .wp_listcolumn .wp_column a.selected { color:#0f429b; background:#eee; } 
.col_list .wp_listcolumn .wp_column a.selected span.column-name{color: #0f429b;}
.col_list .wp_listcolumn .wp_subcolumn .wp_column a { color:#454545;background:none; border-top:1px solid #fff; border-bottom:1px solid #bbb;}
.col_list .wp_listcolumn .wp_column.parent > a .column-name{font-weight:bold; color:#0f429b;}
/*二级子栏目**/
.col_list .wp_listcolumn .wp_column .sub_list a {color:#333;border-top:1px solid #eee;margin-top:-1px;} 	
.col_list .wp_listcolumn .sub_list a .column-name {display:inline-block;line-height: 28px;padding: 5px 10px 5px 52px;cursor:pointer;}
.col_list .wp_listcolumn .sub_list a:hover,
.col_list .wp_listcolumn .wp_column a.selected {font-weight:bold; font-weight:bold;color:#0f429b;} 
/*三级子栏目**/
.col_list .wp_listcolumn .wp_column .sub_list .sub_list a {background:none; } 	
.col_list .wp_listcolumn .sub_list .sub_list a .column-name { padding: 5px 10px 5px 51px; cursor:pointer;}
.col_list .wp_listcolumn .sub_list .sub_list a :hover,
.col_list .wp_listcolumn .sub_list .sub_list a.selected {font-weight:bold; color:#0f429b;} 
/**栏目新闻**/
.col_news {width: 100%;min-height:500px;float:right;} 
.col_news .col_news_box{margin-left: 290px;}
.col_news_head {border-bottom: 1px solid #DBDBDB;}
.col_metas .col_title { display:inline-block; float:left; height: 48px; line-height: 48px; }  /**当前栏目**/
.col_metas .col_title h2 {display:inline-block;font-size: 20px;font-family:"Microsoft yahei";font-weight: normal;color: #497bb6;border-bottom: 3px solid #CBCBCB;}
.col_metas .col_path {display:inline-block;float:right;white-space:nowrap;height: 46px;line-height: 46px;color: #666;} /**当前位置**/
.col_metas .col_path a{color: #2F2F2F;}
.col_news_con { padding:5px 0px 10px 0px; margin:0 7px;}
.col_news_list { margin-top:7px;}
.col_news_list .wp_article_list .list_item {} /**栏目新闻列表**/
.col_news_list .wp_article_list .list_item .Article_Index { }  /**栏目新闻图标序号**/
.col_news_list .wp_entry,.col_news_list .wp_entry p { line-height:1.75; font-size:14px; color:#333;}
.col_news_list .wp_entry p { margin-bottom:10px;}
.col_news_list .wp_entry table{ margin-bottom:4px;}
.col_news_list .wp_entry img { max-width:680px; _width:expression(this.width > 680 ? "680px" : this.width); } /**列表页文章图片大小限制**/
/**文章页**/
.infobox {width:auto; margin:0 auto; }
.article {padding-top:10px;}
.article h1.arti_title {line-height: 48px;font-family: "Microsoft YaHei";font-size:22px;text-align:center;color: #497bb6;} /**文章标题**/
.article h2.arti_title {line-height: 40px;font-family: "Microsoft YaHei";font-size: 17px;text-align:center;color: #1B1B1B;} /**文章副标题**/
.article .arti_metas { padding:10px; text-align:center;border-top:1px solid #ececec;}
.article .arti_metas span { margin:0 5px; font-size:12px; color:#787878;}/**文章其他属性**/
.article .entry { margin:0 auto; overflow:hidden;margin-top:10px;} /**文章内容**/
.article .entry .read,.article .entry .read p { line-height:1.75; font-size:14px; color:#333;}  /**阅读字体**/
.article .entry .read p { margin-bottom:10px;}
.article .entry .read img {margin:0 auto; max-width:940px; _width:expression(this.width > 940 ? "940px" : this.width); }   /**文章阅读部分图片大小限制**/
.article .entry .read table{margin:0 auto; border:none!important;}
/**页脚开始**/
#footer {background: #00479d;}
#footer .inner {padding:33px 0px;position:relative;}
#footer .inner .mod{}
#footer .inner .foot-left{float:left;padding:12px 0px;margin-top:10px;}
#footer .inner .foot-right{float:right;margin-top: 37px;}
#footer .inner p{font-size: 12px;line-height: 21px; font-weight:normal;text-align:left;color: #fff;}
#footer .inner p span { margin:0 3px; }
#footer .inner .copyright{}
#footer .inner .copyright span{}
#footer .inner .copyright a{color:#eee;}
/**************************************************************
 * 组件功能
 */
/*系统默认搜索*/
.wp_search{ display:inline-block;position:relative;padding-left:10px;border: 1px solid #e0e0e0;}
.wp_search #keyword{ width:156px!important;padding: 4px 0; border:none;height:20px; line-height:20px; background:transparent; color:#868686; }
.wp_search .search{width:32px;height: 30px;border:0px; background:url(images/sousuo.jpg) no-repeat center;cursor: pointer; vertical-align:top; }
/*自定义输入框*/
.searchbox{text-align:right;}
.wp-search {position: relative;border: 1px solid #e0e0e0;}
.wp-search form {display: block;}
.wp-search .search-input {margin-left:10px; margin-right: 40px;}
.wp-search .search-input input.search-title {width: 100%;height: 22px;padding: 4px 0;line-height: 22px;background: none;color: #FFFFFF;font-size: 14px;border:0;outline: 0;}
.wp-search .search-btn {width:30px;height: 30px;position: absolute;right: 0;top:0%;}
.wp-search .search-btn input.search-submit {width:32px;height: 30px;border:0;outline: 0;background:url(images/sousuo.jpg) no-repeat center;cursor: pointer;}
/* 分享二维码 */
.shares{text-align:center;}
.shares ul{width:auto; margin:0 auto;text-align: right;float:right;}
.shares li{float:left;position:relative;}
.shares li a{display:inline-block; width: 70px; height: 60px; border: 0px solid red; background:url('images/share_icon.png') no-repeat; opacity:.6; filter:Alpha(opacity=60); vertical-align:top;}
.shares li a:hover{ opacity:1; filter:Alpha(opacity=100); }
.shares li.i1 a{background-position:0px 0px;}
.shares li.i2 a{background-position: -72px 0px;}
.shares li.i3 a{background-position: -144px 0px;}
.shares li span{display:block; line-height:22px; font-size:12px; color: #D0D4EA;text-align:center;}
.shares li .con{display:none; position:absolute; bottom: 80px; left:50%;z-index:100; margin-left: -50px; width:100px;}
.shares li .con img{ width: 90px; height:90px; vertical-align:top; background:#fff;}
/**友情链接**/
.botlinks .links-wrap {position: relative;float: left;display: inline-block; margin:4px 10px; width: 150px; line-height: 32px; background: #fff;border:1px solid #d0d0d0;}
.botlinks .links-wrap a.links-arrow {display: block; height: 32px; line-height: 32px; padding: 0 25px 0 10px; color:#a1a1a1; background: url(images/arrow.png) no-repeat right top;}
.botlinks .links-wrap a.links-arrow:hover,
.botlinks .wrap-open a.links-arrow { color: #333; background-position: right bottom; cursor: pointer;}
.botlinks .links-wrap .link-items {display: none; position: absolute; left: 0; bottom: 33px; width: auto; min-width:180px; height:auto; max-height: 300px; overflow: auto; overflow-x:hidden;background: #f5f5f5;}
.botlinks .links-wrap .link-items a { display: block; line-height: 24px; padding: 5px 0; color: #444;}
.botlinks .links-wrap .link-items a span { display:block; margin:0 6px; white-space:nowrap;}
.botlinks .links-wrap .link-items a:hover { color: #fff; background: #0f429b; cursor: pointer;}/**链接样式**/
/*列表页*/
/*banner*/
.mbanner .focus .focus-title-bar {bottom:40px;left: 40px;margin-left:0px;display: none !important;}
.mbanner .focus .focus-title-bg {background-color: #000;opacity: 0.4;filter:alpha(opacity=60);}

.mbanner .focus .focus-pagination {position:absolute;right: 14px;bottom: 14px;margin-right: 0px;z-index:60;display: none;}
.mbanner .focus .focus-page { display:inline-block; width:9px; height:9px;  margin-right:6px;background:#fff;}
.mbanner .focus .focus-page-active {width:18px;background: #fff;opacity:1; filter:Alpha(opacity=100);}

.mbanner .focus .focus-navigation {width:58px; height:53px; opacity: 0.7; filter:alpha(opacity=70); background:url(images/slide_next.png) no-repeat; text-indent:-999em;}
.mbanner .focus .focus-navigation:hover {opacity: 1; filter:alpha(opacity=100);}
.mbanner .focus .focus-navigation:active {opacity: 1; filter:alpha(opacity=100);}
.mbanner .focus .focus-prev { left:0px;}
.mbanner .focus .focus-next { right:0px;background-position:right top}

.post-11 .focus .focus-title {height: 34px;line-height: 34px;padding: 0 15px; font-size: 14px;}
.post-11 .focus .focus-title-bar {height: 34px; bottom:0px; left:0px; right:0px; margin-left:0px;}
.post-11 .focus .focus-title-bg {background-color: #000;}

.post-11 .focus .focus-pagination {position:absolute;right: 14px;bottom: 46px;}
.post-11 .focus .focus-page {width: 20px;height: 20px; line-height: 20px; font-size:12px; border-radius: 0px; background-color: #fff; color: #000;}
.post-11 .focus .focus-page span {display:block;}
.post-11 .focus .focus-page:hover {font-size: 13px; color: #000; font-weight: bold; }
.post-11 .focus .focus-page-active {background-color: #146CC1;color:#fff;}

.post-11 .focus .focus-navigation {opacity: 0.7;filter:alpha(opacity=70);}
.post-11 .focus .focus-navigation:hover {opacity: 1; filter:alpha(opacity=100);}
.post-11 .focus .focus-navigation:active {opacity: 1; filter:alpha(opacity=100);}
/*************************************************************
 * 特殊页面
 */
/*二级页面*/

.post.post4.post-12.mbox {
    width: 720px;
    float: left;
}
.post.post1.post-13.mbox {
    width: 440px;
    float: right;
}
.post-11 .tt{}
.post-11 .tt .tit {
    display: inline-block;
    float: none;
    font-size: 16px;
    font-weight: normal;
    /* text-align: center; */
    width: auto;
    margin-top: 25px;
    padding-left: 43%;
}

div#container-2{background:url(images/main2.jpg) no-repeat center center;min-height: 620px;}
.main1 {
    min-height: 500px;
	background:url(images/main1.jpg) no-repeat center center;
}
.post-21 .tt .tit {
    display: inline-block;
    float: none;
    font-size: 16px;
    font-weight: normal;
    /* text-align: center; */
    width: auto;
    margin-top: 62px;
    padding-left: 37%;
}
.post.post1.post-22.mbox {
    float: left;
    width: 560px;
}
.post.post1.post-23.mbox {
   float: right;
    width: 560px;
}
.post-41 {
    float: left;
    width: 150px;
}
.post.post1.post-42.mbox {
    float: right;
    width: 1040px;
    padding-left: 10px;
}
div#footer-1 {
    background: #002b60;
}
.footer1 .foot-left {
    text-align: center;
    color: #959eb0;
    font-size: 14px;
    line-height: 24px;
}
.footer1 .inner {
    padding: 8px 0;
}
.footer-left-ml {
    float: left;
	padding-right: 50px;
	background:url(images/tiao.jpg) no-repeat right top;
}
.footer-right-mr {
  padding-left: 50px;
    float: left;
}
.cp {
    color: #fff;
    font-size: 14px;
    line-height: 24px;
}
.main4 .con {
    background: #f5f5f5;
    padding: 14px 30px;
	padding-bottom: 24px;
	min-height: 332px;
}
div#container-5 {
    background: #f0f0f0;
}
.post-31 .tt{background:url(images/main41.png) no-repeat left top;
border-bottom: 2px solid #00479d;
}
.post-32 .tt{background:url(images/main42.png) no-repeat left top;
border-bottom: 2px solid #00479d;
}
.post-41 .tt{background:url(images/main51.jpg) no-repeat left center;
}
.main div#nav {
   position: absolute;/*若不能正常配置，配置导航栏时先注释本行代码，配置完成之后解除注释恢复样式*/
    left: 0;
    top: 120px;
    z-index: 1000;
    opacity: 0.8;
}

.post-12 .tu_text .news_list li.news {
    
    width: 340px;
    float: left;
}
.post-12 .tu_text .news_list li.news.i1 {
  
    width: 340px;
    float: left;
	margin-right: 40px;
}
.main4 .post1 .tt .tit .title {
    font-size: 20px;
    padding-bottom: 10px;
    /* border-bottom: 2px solid #00479d; */
}
.post-41 .tt .tit .title{font-size:20px;}
.main4 .post .more_btn {
    display: inline-block;
    height: 30px;
    /* margin-top: 10px; */
    line-height: 30px;
    float: right;
    position: absolute;
    right: 0;
    bottom: -44px;
    background: #f39800;
    padding: 7px 33px;
}
.post.post1.post-31.mbox {
    position: relative;
}
.post.post1.post-32.mbox {
    position: relative;
}
.main1 .post-11 .more_btn {
    display: inline-block;
    height: 30px;
    /* margin-top: 10px; */
    line-height: 30px;
    float: right;
    position: absolute;
    right: 0;
    bottom: 0;
    background: #f39800;
    padding: 7px 33px;
}
.main2 .inner {
    position: relative;
}
.main2 .post .more_btn {
    display: inline-block;
    height: 30px;
    /* margin-top: 10px; */
    line-height: 30px;
    float: right;
    position: absolute;
    right: 45%;
    bottom: -70px;
    background: #f39800;
    padding: 7px 33px;
}
.post.post1.post-11.mbox {
    margin-bottom: 45px;
}
.main1 .post .more_btn {
    background: #f39800;
    position: absolute;
	padding: 7px 33px;
	bottom: 0px;
}
.post.post1.post-21.mbox {
    margin-bottom: 40px;
}
.news_list li.news .news_text a {
   
    color: #959595;
}
.news_list li.news .news_text {
    line-height: 18px;
    color: #666;
    font-size: 14px;
}
.main4 .news_list li.news {
	background:url(images/dian.jpg) no-repeat left center;
}
.main4 .news_list li.news span.news_title {
    padding-left: 10px;
}
.lmbm {
    font-family: "微软雅黑";
    font-size: 14px;
}
.post-12 .tu_text .news_list li.news {
    margin-bottom:0px;
}





.header {
  width: 100%;
  height: 150px;
  background-color: #2376c4; }
  .header .logo {
    width: 1250px;
    margin: auto;
position: relative; }
.header .logo .ImgHover {
      width: 200px;
      height: 40px;
      position: absolute;
      right: 220px;
      top: 20px; }
    .header .logo #ercodeImg {
      position: absolute;
      right: 350px;
      top: 70px;
      display: none; }
    .header .logo #searchInput {
      width: 240px;
      height: 40px;
      position: absolute;
      right: -6px;
      top: 105px; }
.navBar {
  width: 100%;
  height: 46px;
  background-image: linear-gradient(#5caaff, #1576dd); }
  .navBar .nav {
    width: 1250px;
    height: 46px;
    margin: auto;
}
    .navBar .nav div {
      height: 46px; }
      .navBar .nav div div {
        height: 46px; }
#wp_nav_w1 .wp_nav .nav-item{
line=height: 46px;}

#banner .banner2{
width: 395px;
height: 400px;
margin-top: 83px;
}
.row1{
width: 1250px;
margin: auto;
height: 455px;
margin-top: 10px;
display: flex;
justify-content: space-between;
}
.row1 #banner{
width: 400px;
}

.tt {
  width: 100%;
  height: 45px;
  border-bottom: 5px solid #d0d0d0;
  display: flex;
  justify-content: space-between; }
  .tt .tit {
    width: 90px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 17px;
    border-bottom: 5px solid #0b59ad; }
  .tt .more_btn {
    width: 70px;
    line-height: 45px;
    text-align: center; }
.con {
        height: 350px;
        background-color: #f2f2f2; }
 .row1 .xyxw {
      width: 400px; }
      .content .row1 .xyxw .con {
        width: 395px;
        height: 390px;}
.row1 .tzgg {
      width: 400px; }
      .content .row1 .tzgg .con {
        height: 400px;
        background-color: #f2f2f2; }
.xyxw .tt {
    width: 823px;
    margin-left: -421px;
}
.xyxw .con {
        height: 350px;
        background-color: #ffffff; }

.content .row2 {
    width: 1230px;
    height: 140px;
    margin: auto;
    margin-top: 10px;
    display: flex;
    justify-content: space-between; }
    .content .row2 #link-con {
      width: 140px;
      height: 140px; }
    .content .row2 .trade-content {
      padding-left: 0px; }
    .content .row2 .trade-title {
      font-size: 24px;
      color: #333;
      text-align: center;
      margin: 50px 0;
      position: relative; }
      .content .row2 .trade-title :before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        bottom: -19px;
        left: 50%;
        transform: translateX(-50%);
        border: 6px solid;
        border-color: #20B09F transparent transparent; }
      .content .row2 .trade-title :after {
        content: "";
        position: absolute;
        width: 52px;
        height: 3px;
        background-color: #f2f2f2;
        bottom: -8px;
        left: 50%;
        transform: translateX(-50%); }
    .content .row2 .trade-black {
      height: 140px;
      width: 1080px;
      background-color: #f2f2f2;
      margin-left: 10px; }
    .content .row2 .trade-box {
      width: 1080px;
      height: 140px;
      position: relative;
      transition: all .3s ease; }
    .content .row2 .trade-box-list {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
    .content .row2 .trade-box-item {
      flex: 1;
      text-align: center;
      position: relative;
      height: 140px;
      background: no-repeat center;
      background-size: 100% auto; }
    .content .row2 .trade-content .trade-box-item:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1); }
    .content .row2 .trade-box-item a {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0; }
    .content .row2 a, .content .row2 button, .content .row2 input, .content .row2 textarea {
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      -moz-transition: all .3s ease;
      -webkit-transition: all .3s ease;
      transition: all .3s ease; }
    .content .row2 .item-logo {
      margin-top: 15px;
      display: block; }
    .content .row2 .trade-content .trade-box-item .item-logo {
      position: relative;
      transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1); }
    .content .row2 .item-logo img {
      display: block;
      margin: 0 auto;
      max-width: 100%; }
    .content .row2 .item-title {
      font-size: 20px;
      font-weight: lighter;
      color: #fff;
      padding: 10px 0;
      position: relative; }
    .content .row2 .item-text {
      position: relative;
      transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
      opacity: 1;
      margin-top: 10px;
      width: 30%;
      padding-left: 35%; }
      .content .row2 .item-text img {
        width: 100%; }
    .content .row2 .trade-content .item01 {
      background-image: url(./images/benke.png);
      background-size: cover;
      width: 150px;
      height: 140px;
      background-color: #71c9ce; }
    .content .row2 .trade-content .item02 {
      background-image: url(./images/yanjiusheng.jpg);
      background-size: cover;
      width: 150px;
      height: 140px;
      background-color: #7ea04d; }
    .content .row2 .trade-content .item03 {
      background-image: url(./images/chengpinyingcai.jpg);
      background-size: cover;
      width: 150px;
      height: 140px;
      background-color: #3f72af; }
    .content .row2 .trade-content .item04 {
      background-image: url(./images/shiziduiwu.jpg);
      background-size: cover;
      width: 150px;
      height: 140px;
      background-color: #056674; }
    .content .row2 .trade-content .item05 {
      background-image: url(./images/shiziduiwu.jpg);
      background-size: cover;
      width: 150px;
      height: 140px;
      background-color: #ed9f4d; }
    .content .row2 .trade-content .item06 {
      background-image: url(./images/shiziduiwu.jpg);
      background-size: cover;
      width: 150px;
      height: 140px;
      background-color: #68b0ab; }
    .content .row2 .trade-content .trade-box-item:hover .item-text {
      display: block;
      opacity: 1;
      margin-top: 0; }
    .content .row2 .trade-content .trade-box-item:hover:before {
      background-color: rgba(19, 162, 176, 0.9); }
    .content .row2 .trade-content .trade-box-item:hover .item-title:before {
      opacity: 0;
      margin-bottom: 0; }
  .content .row3 {
    width: 1230px;
    height: 140px;
    margin: auto;
    margin-top: 10px; }
    .content .row3 img {
      width: 100%;
      height: 140px; }

 .content .row4 {
    width: 1230px;
    margin: auto;
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
    height: 400px; }
    .content .row4 .tbtj {
      width: 400px; }
      .content .row4 .tbtj .con {
        height: 350px;
        background-color: #f2f2f2; }
    .content .row4 .jyxx {
      width: 400px; }
      .content .row4 .jyxx .con {
        height: 350px;
        background-color: #f2f2f2; }
    .content .row4 .fwxx {
      width: 400px; }
      .content .row4 .fwxx .con {
        height: 350px;
        background-color: #f2f2f2; }

.lbImg2 {
  width: 1230px;
  height: 75px;
  margin: 20px auto; }

.footer {
  width: 100%;
  background-color: #2066b0;
  height: 160px;
  position: absolute; }
  .footer .footerCon {
    width: 1250px;
    height: 126px;
    margin: auto;
    margin-top: 17px;
    display: flex;
    justify-content: space-around; }
    .footer .footerCon .lie1 {
      height: 126px;
      border-right: 1px solid #d0d0d0;
      width: 270px; }
      .footer .footerCon .lie1 li {
        color: white;
        font-size: 14px;
        height: 31.5px;
        line-height: 31.5px;
        font-weight: 300; }
    .footer .footerCon .lie2 {
      width: 550px;
      height: 126px;
      border-right: 1px solid #d0d0d0; }
      .footer .footerCon .lie2 li {
        font-size: 18px;
        padding-left: 10px;
        height: 30px;
        line-height: 30px;
        color: white; }
    
    .footer .footerCon .lie3 {
      width: 420px;
      height: 126px;
      position: relative; }
      .footer .footerCon .lie3 li {
        width: 250px;
        font-size: 18px;
        padding-left: 10px;
        height: 30px;
        line-height: 30px;
        color: white; }
      .footer .footerCon .lie3 .fwcon {
        width: 250px;
        height: 100px;
        display: flex;
        flex-wrap: wrap;
        margin-left: 20px; }
        .footer .footerCon .lie3 .fwcon li {
          width: 70px;
          font-size: 13px; }
      .footer .footerCon .lie3 .ercode {
        position: absolute;
        left: 270px;
        top: 30px;
        width: 100px;
        height: 100px; }
        .footer .footerCon .lie3 .ercode img {
          width: 100px;
          height: 100px; }


.Article_Index{
display:none!important;
}
ul.wp_article_list{
    padding-top: 17px;
}

.wp_article_list .list_item {
    height: 37px;
    line-height: 37px;
font-size: 14px;
}
.ctrl {
    width: 348px;
    text-align: center;
    padding: 5px 0;
    display: none;
}
.trigger-bar {
    width: 423px;
    height: 18px;
    display: none;
}
.scrollable-panel {
    position: relative;
    width: 1250px;
    height: 100px;
    overflow: hidden;
}
.sudynews_rili_2.rili .news_list li.news .news_text{
display: none;}
.sudynews_rili_2.rili .news_list li.news{
margin-top: 0px!important;
}
.sudynews_rili_2.rili .news_list {
    padding-top: 20px;
width: 380px;
    padding-left: 10px;
}
.row1 .picbase1-content {
    max-width: 390px;
    left: 0px;
width: 390px;
    bottom: -64px;
    /* height: 80px; */
}
.row1 .picbase1-content h2 {
    height: 30px;
    background-color: white;
color: #3f72af;
   font-size: 17px;
font-weight: 400;
    text-align: center;
opacity: 1;
border: none;
}
.row1 .picbase1-credit{ display: none;}
.row1 .picbase1-content p{
text-align: left;
display: none;
}
.tzgg .con{
height: 400px;
}
.content .wp_article_list {
    width: 380px;
    margin-left: 10px;
}
#banner .picbase1-credit{
 display: none;
}
div.timer{ display: none}
div.slider-nav span.right{
background: url(./images/right.png) no-repeat;
opacity: 0.4
}
div.slider-nav span.left{
background: url(./images/left.png) no-repeat;
opacity: 0.4
}

div.slider-nav span {

    width: 40px;
    height: 50px;

}

.SelectLink{
width: 550px;
display: flex;
justify-content: space-around;
}
.Select,.Select2{
 width: 250px;
height: 40px;
margin-top: 20px;
border-radius: 5px;
}

select.w101_openLink {
    height: 40px;
    border-radius: 5px;
    width: 250px!important;
}
select.w102_openLink {
    height: 40px;
    border-radius: 5px;
    width: 250px!important;
}
.SelectLink select{ font-size: 17px;}

.listImg {
  width: 1250px;
  margin: auto; }
  .listImg img {
    width: 1250px; }

.listRow1 {
  width: 1250px;
  margin: auto;
  margin-top: 20px; }
  .listRow1 .column1 {
    width: 250px;
    margin-left: 10px;
    display: inline-block;
    vertical-align: top; }
    .listRow1 .column1 .listTitle2 {
      width: 250px;
      text-align: center;
      height: 55px;
      line-height: 55px;
      background-color: #3d87cc; 
color: white;
    font-size: 18px;}
    .listRow1 .column1 .listCon {
      width: 250px;
      margin-top: 20px;
      background-color: #2066b0; }
  .listRow1 .column2 {
    width: 930px;
    display: inline-block;
    vertical-align: top;
    margin-left: 50px;
height: 850px; }
    .listRow1 .column2 .listHeader2 {
      width: 930px;
      height: 50px;
      border-bottom: 5px solid  #d0d0d0; }
      .listRow1 .column2 .listHeader2 .listHeaderTitle {
        width: 140px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        border-bottom: 5px solid  #0b59ad;
font-size: 17px;
        display: inline-block;
        vertical-align: top; }
      .listRow1 .column2 .listHeader2 .listHeaderPosition {
        width: 200px;
        display: inline-block;
        vertical-align: top;
line-height: 50px;
    text-align: right;
        height: 50px;
        margin-left: 580px; }
      .listRow1 .column2 .listHeader2 .listContent {
        width: 930px;
        margin-top: 20px;
min-height: 600px; }

.emptyLine {
width: 100px;
        height: 100px; }
.wp_listcolumn .wp_column a {
    font-size: 15px;
    height: 50px;
    line-height: 50px;
background-image: none;
}

.wp_listcolumn .wp_column a.selected {
    color: #000;
    background-color: #e8e8e8;
background-image: none;
}
.wp_paging {

    margin-top: 30px;
}

.articalContent {
  width: 1250px;
    margin-top: 10px;
  margin: auto;
min-height: 600px;

 }
  .articalContent .articalTitle {
width: 1250px;
    min-height: 10px;
    border-bottom: 1px solid #c2c3c8;
    font-size: 25px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #308aea;
}
  .articalContent .articalDate {
    width: 100px;
    height: 50px;
    line-height: 50px;
    text-align: left; 
   display: inline-block;
    vertical-align: top;
}
  .articalContent  .textCon1{
display: inline-block;
    vertical-align: top;
width: 100px;
margin-left: 450px;
text-align: center;
line-height: 50px;
}
   .articalContent  .textCon2{
display: inline-block;
    vertical-align: top;
width: 100px;
text-align: center;
line-height: 50px;
}
.articalContent .articalSee {
        width: 100px;
    height: 50px;
    line-height: 50px;
    text-align: left ;
   display: inline-block;
    vertical-align: top;}
  .articalContent .articalCon {
    width: 1250px;}

#wp_nav_w1 .wp_nav .sub-nav{
border: none!important;
}
#wp_nav_w1 .wp_nav .sub-nav .nav-item a{
text-align: center!important;
}
.sudynews_rili_2.rili .news_list li.news .news_time .news_year{
height: 26px;
    line-height: 26px!important;
color: white!important;
    background-color: #1d4e92!important;
}
.sudynews_rili_2.rili .news_list li.news .news_time .news_days{
background: #ed9f4d!important;
}
.wp_entry img {
    max-width: none;
}
.dtjt9_div_text{
bottom: -45px;
}
.dtjt9_div_text .dtjt9_div_text_title{
background: none;
}
#w3imgTitle a{
color: #3f72af;
font-size: 17px;
font-weight: 400;
}